html {
    background-color: #F5F5F5;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    max-width: 1920px;
    font-size: 125%;
    margin: 0;
    
}

header {
    background: grey;
    margin: 0 auto;
}


ul {
    list-style: none;
    padding: 0;
    
}

figure {
    margin: 0;
    padding: 0;
    display: inline-block;
}

hr {
    border: 3px solid green;
    
}

