

.navBar {
    margin: 0%;
    background: black;
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    
    
    
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.navLink {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    
}
.navLink:hover {
    color: skyblue
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
   
    .threeBars {
        display: block;
        width: 30px;
        height: 10px;
        margin: 10% 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
        
    }
    

}


