

.navBar {
    margin: 0 5%;
    
}

.navMenu {
    display: flex;
    min-height: 50px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.navItem {
    gap: 2%;
}
.navLink {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    
}
.navLink:hover {
    color: skyblue
}

.hamburger {
    cursor: pointer;
}

.threeBars {
    display: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

