.welcomePage {
    display: flex;
  
    height: 100vh;
    background-image: url(../assets/portfoliobackground1.jpg);
    background-repeat: no-repeat;
    background-size: cover
   
    
}
.welcomeText {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    border-right: 3px solid rgb(223, 167, 100);
    padding-right: 2%;
}

.welcomeTextAlt {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 50%;
    border-left: 3px solid rgb(223, 167, 100);
    padding-left: 2%;
    p {
        width: 35%;
    }

    
}

.textAlt {
    display: flex;
    justify-content: center;
    width: 35%;
    
    li {
       font-size: 2.5rem;
       margin: 0 2%;
        
    }
   
}
.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    max-width: 100%;
    padding-bottom: 5%;
    margin: 0;
    background-image: url(../assets/portfoliobackground3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.aboutMeTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
    font-size: 1.6rem;
    
}

.aboutMeContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 8%;
    text-align: left;
    
 
}
.aboutMeImage {
    border: 6px solid black;
    border-radius: 30px;
    img {
        border-radius: 25px;
    }
}

.aboutMeText {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    font-size: 1.6rem;
}

.mySkills {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    // Will have an image here eventually, but this one just didn't look good;
    // background-image: url(../assets/portfoliobackground5.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    
}

.skillTitle {
    font-size: 1.6rem;
    display: flex;
    max-width: 100%
}

.skillList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    font-size: 2rem;
    li {
        margin: 2%;
    }
}

.myProjects {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    padding-bottom: 6%;
    background-image: url(../assets/portfoliobackground3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .projectsTitle {
        font-size: 1.6rem;
        padding-bottom: 3%;
    }
    .projectsContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      
        .project2 {
            display: flex;
            justify-content: center;
            width: 45%;
            box-shadow: 10px 10px 30px teal;
            position: relative;
            flex-flow: column wrap;
    
            
        }
        .project2Text {
            width: 45%;
            display:flex;
            align-items: center;
        }

        // .project2.hoverProjectOverlay {
        //   position: absolute;
        //   transform: scale(0);
        //   background-color: orange;
        //   transition: opacity 0.6s ease-in-out;
        //   top:0;
        //   left:0;
        //   height: 100%;
          
        // }
        .project1Text {
            width: 45%;
            display: flex;
            align-items: center; 
        }
        
        .project1 {
            display: flex;
            justify-content: center;
            width: 45%;
            box-shadow: 10px 10px 30px teal;
            margin-top: 2%;
            
           
        }

        .assignment1 {
            display: flex;
            justify-content: center;
            width: 45%;
            margin-top: 2%;
            box-shadow: 10px 10px 30px teal;


        }

        .assignment1Text {
            width: 45%;
            display: flex;
            align-items: center;
            text-align: center;

        }
   

        //Will add this section once React Project is completed
        // .project3 {
        //     display: flex;
        //     justify-content: center;
        //     width: 45%;
        //     margin-top: 2%;
        //     box-shadow: 10px 10px 30px red;
            
        // }
        // .project3Text{
        //     width: 45%;
        //     display: flex;
        //     align-items: center;
        // }
       
    }
}




.contactForm {
    width: 100%;
    padding-bottom: 6%;
    text-align: left;
    .formTitle {
        font-size: 1.6rem;
        text-align: center;
    }
    .formContainer {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        form {
            width: 50%;
        }
      
        .formInfo {
            display: flex;
            width: 100%;
            flex-flow: column wrap;

            
        }
   
    
        .formMessage {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            
        }
    }
}