.welcomePage {
    display: flex;
    margin: 0 2%;
    height: 100vh;
  

   
   
    
}
.welcomeText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    
}

.welcomeTextAlt {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;

    
}

.textAlt {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    li {
       font-size: 2.5rem;
       margin: 0 2%;
        
    }
}
.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    max-width: 100%;
    padding-bottom: 5%;
    margin: 0 8%;
    
}

.aboutMeTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
    font-size: 1.6rem;
    
}

.aboutMeContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: left;
 
}
.aboutMeImage {
    border: 6px solid black;
}

.aboutMeText {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    font-size: 1.6rem;
}

.mySkills {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 2%;
    
}

.skillTitle {
    font-size: 1.6rem;
    display: flex;
    max-width: 100%
}

.skillList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    font-size: 2rem;
    li {
        margin: 2%;
    }
}

.myProjects {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    padding-bottom: 6%;
    .projectsTitle {
        font-size: 1.6rem;
        padding-bottom: 3%;
    }
    .projectsContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
      
        .project2 {
            display: flex;
            justify-content: center;
            width: 45%;
            box-shadow: 10px 10px 30px teal;
            
        }
        
        .project1 {
            display: flex;
            justify-content: center;
            width: 45%;
            box-shadow: 10px 10px 30px teal;
           
        }
    }
}




.contactForm {
    width: 100%;
    padding-bottom: 6%;
    text-align: left;
    .formTitle {
        font-size: 1.6rem;
        text-align: center;
    }
    .formContainer {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        
      
        .formInfo {
            display: flex;
            width: 50%;
            flex-flow: column wrap;

            
        }
   
    
        .formMessage {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            
        }
    }
}