.hamburger {
    position: relative; 
    display: block;
    width: 35px;
    height:35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;


}

.hamburger .bar, .hamburger:after, .hamburger:before  {
    content: "";
    display: block;
    width: 100%; 
    height: 5px; 
    background-color: white;; 
    margin: 6px 0px;
    transition: 0.5s

}

.hamburger.is-active, .hamburger:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active, .hamburger:after {
    transform: rotate(45deg) translate(-9px, -8px);

}

.hamburger.is-active .bar {
    opacity: 0;

}

.homePage {
    display: flex;
    height: 100vh;
    background-color: #b0dae4;
    background-image: linear-gradient(90deg, #b0dae4 0%, #AFD9C9 50%, #b0dae4 100%);
    
    
}

.homePageContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.homeText {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-flow: column wrap;
    // width: 60%;
    h1 {
        font-size: 4rem;
    }
    
    p {
        line-height: 200%;
    }
}

.homeImage {
    display: flex;
    max-width: 40%;
    img {
        border-radius: 60px;
        
    }
} 

.wrapper {
    width: 80%;
    margin: 0 auto;

}

.aboutMe {
    
    background-color:#F1E0C4;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
    h2 span {
        font-size: 2rem;
        border-bottom: 4px solid skyblue;
        text-align: center;
        
    }
}

.aboutMeContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
 
}
.aboutMeImage {
   width: 40%;
    img {
        border: 6px solid black;
        border-radius: 25px;

    }
}

.aboutMeText {
    display: flex;
    justify-content: center;
    
    flex-flow: column wrap;
    width: 50%;
    font-size: 1.6rem;
    p {
        line-height: 200%;
    }
}

.mySkills {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #FFFDE7;

    h2 span {
        font-size: 2rem;
        border-bottom: 4px solid skyblue;
    }
}

.skillList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 60%;
    column-gap: 100px;
    li {
        font-size: 3.5rem;
        width: 15%;
    }
    border-left: 10px double skyblue;
    border-right: 10px double skyblue;
   
}

.myProjects {
    display: flex;
    
    flex-flow: column wrap;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    
    background-color: #DCEDC8;
    background-repeat: no-repeat;
    background-size: cover;

    h2 span {
        font-size: 2rem;
        border-bottom: 4px solid skyblue;
    }
    
    .projectsContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 100px;
        a {
            font-size: 22px;
            text-decoration: none;
            font-family:Arial, Helvetica, sans-serif;
            color: darkcyan;
            
        }
    }
}

.overlay {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.75; 
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease; 
    
    p {
        width: 100%;
        color: white;
        font-size: 18px;
    }
    li {

        font-size: 66px;
    }
}

.projectCredits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
    
    
}


.projectTechStack {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    color: teal;
    width: 80%;
  
}

.projectCollaborators {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.projectTextContainer {
    display: flex;
    width: 48%;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}


.projectCredits {
    color: turquoise;
    width: 80%;
 
}

.projectBtnContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.projectBtn {
    position: relative; 
    background-color:peachpuff;
    padding: 20px 36px 20px 36px;
    border: 2px solid black;
    border-radius: 2rem;
    
}
.project4Container {
    display: flex;
  
    justify-content: space-between;
   
    .project4React:hover .overlay {
        height: 100%; 
    }
    .project4React {
        width: 48%; 
        position: relative; 
        
    }
    

}
.project3Container {
    display: flex;
    flex-flow: row-reverse wrap;
    
    justify-content: space-between;
    .project3React:hover .overlay {
        height: 100%;
    }
    .project3React {
        width: 48%;
        position: relative; 
        
    }

}

.project2Container {
    display: flex;
    
    justify-content: space-between;
    .project2:hover .overlay {
        height: 100%; 

    }
    .project2 {
        width: 48%;
        position: relative;
    }
    .project2Text {
        display: flex;
        width: 48%;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }
}

.project1Container {
    display: flex;
    flex-flow: row-reverse wrap;
    
    justify-content: space-between;
    
    .project1:hover .overlay {
        height: 100%; 
    }
  
    .project1 {
        display: flex;
        width: 48%;
        position: relative;
    }
    .project1Text {
        display: flex;
        width: 48%;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }
}

.assignment1Container {
    display: flex;  
    width: 100%;
    justify-content: space-between;
    
    
    .assignment1:hover .overlay {
        height: 100%; 
    }
    
    .assignment1 {
        display: flex;
        width: 48%;
        position: relative
    }
    .assignment1Text {
        display: flex;
        width: 48%;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }
}


.contactMe {
    display: flex;
    flex-flow: row wrap;
    padding: 2.5% 0%;
    background-color: #F1E0C4;
    gap: 60px;
    h2 {
        font-size: 1.6rem;
        text-align: center;
        width: 100%;
    }
    h2 span{
        font-size: 2rem;
        border-bottom: 4px solid skyblue;
    }
    .formWrapper {
        width: 80%;
        margin: 0 auto;
      
    }
    .contactFormContainer {
        display: flex;
        justify-content: space-between;
        
        
       .contactFormText {
        width: 48%;
        text-align: left;
            p {
                margin: 0;
            }
    
       }
       .contactForm {
        display: flex;
        width: 48%;
        justify-content: space-between;

            input {
                margin-bottom: 5%;
                border: 2px solid black;
                border-radius: 6px;
                padding: 20px;
            }
            textarea {
                margin-bottom: 5%;
                resize: none;
                border: 2px solid black;
                border-radius: 6px;
                
                height: 10rem;
                padding: 20px;
            }
       }
        .contactFormInput {
            display: flex;
            width: 100%;
            flex-flow: column wrap;
            button {
                background-color: white;
                border-radius: 6px;
                border: 2px solid black;
                padding: 20px;
            }
        
        }
    } 

 
}