@media (max-width: 400px) {
    nav {
        display: none;
    }
    .homePage {
        min-height: unset;
    }
    .homePageContainer {
        display: flex;
        flex-flow: column wrap;
        
        justify-content: space-evenly;
        align-items: center;
    }

    .homeText {
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 2rem;
        }
    }

    .homeImage {
        max-width: 75%;
    }

    .aboutMeImage {
        width: 75%;
    }

    .skillList {
        border-left: hidden;
        border-right: hidden;
        width: 100%;
      
        li {
            font-size: 2.5rem; 
            width: 20%;
        }
        p {
            font-size: 18px;
        }
    }

    .myProjects {
        .projectTextContainer {
            width: 100%;
        }
        .projectBtn {
            padding: 20px;
        }
        .project4Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project4React {
                width: 100%;
            }
        }
        .project3Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project3React {
                width: 100%;
            }
        }
        .project2Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project2 {
                width: 100%;
            }
        }
    
        .project1Container{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project1 {
                width: 100%;
            }
        }
        .contactMe {
            .contactFormContainer {
                display: flex;
                flex-flow: column wrap;
                .contactFormText {
                    width: 100%;
                    text-align: center;
                }
                .contactForm {
                    width: 100%;
                    
                }
            }
        }
        footer {
            h6 {
                font-size: 22px;
            }
        }
    }
    
}

@media (max-width: 600px) {
    nav {
        display: none;
    }
    .homePage {
        min-height: unset;
    }
    .homePageContainer {
        display: flex;
        flex-flow: column wrap;
        
        justify-content: space-evenly;
        align-items: center;
    }
    .homeText {
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 2rem;
        }
    }

   


    .aboutMeText {
        width: 100%;
        text-align: center;
        p {
            font-size: 16px;
        }
 
    }
    .aboutMeImage {
        width: 75%;
    }



    .skillList {
        border-left: hidden;
        border-right: hidden;
        width: 100%;
      
        li {
            font-size: 2.5rem; 
            width: 20%;
        }
        p {
            font-size: 18px;
        }
    }
    .myProjects {
        .projectTextContainer {
            width: 100%;
        }
        .projectBtn {
            padding: 20px;
        }
        .project4Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project4React {
                width: 100%;
            }
        }
        .project3Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project3React {
                width: 100%;
            }
        }
        .project2Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project2 {
                width: 100%;
            }
        }
    
        .project1Container{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project1 {
                width: 100%;
            }
        }
    }
    .contactMe {
        .contactFormContainer {
            display: flex;
            flex-flow: column wrap;
            .contactFormText {
                width: 100%;
                text-align: center;
            }
            .contactForm {
                width: 100%;
                
            }
        }
    }
    footer {
        h6 {
            font-size: 22px;
        }
    }
}

@media (max-width: 800px) {
    .homePage {
        min-height: unset;
    }

    .homeImage {
        max-width: 80%;
    }
    .aboutMeContainer {
        display: flex;
        flex-flow: column wrap;

    
        .aboutMeText {
            text-align: center;
            width: 100%;
        }
        .aboutMeImage {
            width: 75%;
        }
    
    }

    .mySkills {
        .skillList {
            border-left: hidden;
            border-right: hidden;
        }
    }

    .myProjects {
        .projectTextContainer {
            width: 100%;
        }
        .projectBtn {
            padding: 20px;
        }
        .project4Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project4React {
                width: 100%;
            }
        }
        .project3Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project3React {
                width: 100%;
            }
        }
        .project2Container {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project2 {
                width: 100%;
            }
        }
    
        .project1Container{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .project1 {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1199px) {
    .homePage {
        min-height: unset; 

    }

 
    .aboutMeContainer {
        display: flex;
        flex-flow: column wrap;
       
        .aboutMeText {
            text-align: center; 
            width: 100%;
        }
        .aboutMeImage {
            width: 50%;
            min-width: 200px;
        }
    }
    .mySkills {
        .skillList {
            width: 85%;
        }
    }
}
  
    
