html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #F5F5F5;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  font-size: 125%;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 10;
  background-color: #b0dae4;
  background-image: -webkit-gradient(linear, left top, right top, from(#b0dae4), color-stop(50%, #AFD9C9), to(#b0dae4));
  background-image: linear-gradient(90deg, #b0dae4 0%, #AFD9C9 50%, #b0dae4 100%);
}

ul {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
}

h1, h2, h3, h5 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 30px;
  color: #112A46;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Schibsted Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  width: 100%;
}

h6 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 30px;
  color: whitesmoke;
  margin: 2% 0% 2% 0%;
}

a {
  text-decoration: none;
  font-size: 22px;
}

p {
  line-height: 150%;
  font-family: "Lora", serif;
  font-size: 22px;
  color: black;
}

li {
  list-style: none;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .logo p {
  font-size: 1.5rem;
  font-weight: bold;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navLink {
  text-decoration: none;
  color: #112A46;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navLink:hover {
  color: skyblue;
}

.navContact {
  text-decoration: none;
  color: #112A46;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  background-color: peachpuff;
  padding: 20px;
  border: 2px solid black;
  border-radius: 2rem;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger.is-active, .hamburger:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active, .hamburger:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #b0dae4;
  background-image: -webkit-gradient(linear, left top, right top, from(#b0dae4), color-stop(50%, #AFD9C9), to(#b0dae4));
  background-image: linear-gradient(90deg, #b0dae4 0%, #AFD9C9 50%, #b0dae4 100%);
}

.homePageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.homeText h1 {
  font-size: 4rem;
}
.homeText p {
  line-height: 200%;
}

.homeImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
}
.homeImage img {
  border-radius: 60px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.aboutMe {
  background-color: #F1E0C4;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.aboutMe h2 span {
  font-size: 2.5rem;
  border-bottom: 4px solid skyblue;
  text-align: center;
}

.aboutMeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.aboutMeImage {
  width: 40%;
}
.aboutMeImage img {
  border: 6px solid black;
  border-radius: 25px;
}

.aboutMeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 50%;
  font-size: 1.6rem;
}
.aboutMeText p {
  line-height: 200%;
}

.mySkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: #FFFDE7;
}
.mySkills h2 span {
  font-size: 2.5rem;
  border-bottom: 4px solid skyblue;
}

.skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 60%;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  border-left: 10px double skyblue;
  border-right: 10px double skyblue;
}
.skillList li {
  font-size: 3.5rem;
  width: 15%;
}

.myProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: #DCEDC8;
  background-repeat: no-repeat;
  background-size: cover;
}
.myProjects h2 span {
  font-size: 2.5rem;
  border-bottom: 4px solid skyblue;
}
.myProjects .projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 100px;
}
.myProjects .projectsContainer a {
  font-size: 22px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: darkcyan;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.75;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.overlay p {
  width: 100%;
  color: white;
  font-size: 18px;
}
.overlay li {
  font-size: 66px;
}

.projectCredits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectTechStack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: teal;
  width: 80%;
}

.projectCollaborators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projectCredits {
  color: turquoise;
  width: 80%;
}

.projectBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projectBtn {
  position: relative;
  background-color: peachpuff;
  padding: 20px 36px 20px 36px;
  border: 2px solid black;
  border-radius: 2rem;
}

.project4Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project4Container .project4React:hover .overlay {
  height: 100%;
}
.project4Container .project4React {
  width: 48%;
  position: relative;
}

.project3Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project3Container .project3React:hover .overlay {
  height: 100%;
}
.project3Container .project3React {
  width: 48%;
  position: relative;
}

.project2Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project2Container .project2:hover .overlay {
  height: 100%;
}
.project2Container .project2 {
  width: 48%;
  position: relative;
}
.project2Container .project2Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.project1Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project1Container .project1:hover .overlay {
  height: 100%;
}
.project1Container .project1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  position: relative;
}
.project1Container .project1Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.assignment1Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.assignment1Container .assignment1:hover .overlay {
  height: 100%;
}
.assignment1Container .assignment1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  position: relative;
}
.assignment1Container .assignment1Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 2.5% 0%;
  background-color: #F1E0C4;
  gap: 60px;
}
.contactMe h2 {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}
.contactMe h2 span {
  font-size: 2.5rem;
  border-bottom: 4px solid skyblue;
}
.contactMe .formWrapper {
  width: 80%;
  margin: 0 auto;
}
.contactMe .contactFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactMe .contactFormContainer .contactFormText {
  width: 48%;
  text-align: left;
}
.contactMe .contactFormContainer .contactFormText p {
  margin: 0;
}
.contactMe .contactFormContainer .contactFormText .contactOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 30px;
}
.contactMe .contactFormContainer .contactFormText .contactOptions li {
  font-size: 3.5rem;
}
.contactMe .contactFormContainer .contactFormText .contactOptions a {
  font-size: 2.15rem;
  text-decoration: none;
  color: rgb(56, 118, 189);
}
.contactMe .contactFormContainer .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactMe .contactFormContainer .contactForm input {
  margin-bottom: 5%;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
}
.contactMe .contactFormContainer .contactForm textarea {
  margin-bottom: 5%;
  resize: none;
  border: 2px solid black;
  border-radius: 6px;
  height: 10rem;
  padding: 20px;
}
.contactMe .contactFormContainer .contactFormInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.contactMe .contactFormContainer .contactFormInput button {
  background-color: white;
  border-radius: 6px;
  border: 2px solid black;
  padding: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #545454;
}

@media (max-width: 400px) {
  nav {
    display: none;
  }
  .homePage {
    min-height: unset;
  }
  .homePageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeText {
    text-align: center;
  }
  .homeText h1 {
    font-size: 2.5rem;
  }
  .homeText h2 {
    font-size: 2rem;
  }
  .homeImage {
    max-width: 75%;
  }
  .aboutMeImage {
    width: 75%;
  }
  .skillList {
    border-left: hidden;
    border-right: hidden;
    width: 100%;
  }
  .skillList li {
    font-size: 2.5rem;
    width: 20%;
  }
  .skillList p {
    font-size: 18px;
  }
  .myProjects .projectTextContainer {
    width: 100%;
  }
  .myProjects .projectBtn {
    padding: 20px;
  }
  .myProjects .project4Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project4Container .project4React {
    width: 100%;
  }
  .myProjects .project3Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project3Container .project3React {
    width: 100%;
  }
  .myProjects .project2Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project2Container .project2 {
    width: 100%;
  }
  .myProjects .project1Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project1Container .project1 {
    width: 100%;
  }
  .myProjects .contactMe .contactFormContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .myProjects .contactMe .contactFormContainer .contactFormText {
    width: 100%;
    text-align: center;
  }
  .myProjects .contactMe .contactFormContainer .contactForm {
    width: 100%;
  }
  .myProjects footer h6 {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
  .homePage {
    min-height: unset;
  }
  .homePageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeText {
    text-align: center;
  }
  .homeText h1 {
    font-size: 2.5rem;
  }
  .homeText h2 {
    font-size: 2rem;
  }
  .aboutMeText {
    width: 100%;
    text-align: center;
  }
  .aboutMeText p {
    font-size: 16px;
  }
  .aboutMeImage {
    width: 75%;
  }
  .skillList {
    border-left: hidden;
    border-right: hidden;
    width: 100%;
  }
  .skillList li {
    font-size: 2.5rem;
    width: 20%;
  }
  .skillList p {
    font-size: 18px;
  }
  .myProjects .projectTextContainer {
    width: 100%;
  }
  .myProjects .projectBtn {
    padding: 20px;
  }
  .myProjects .project4Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project4Container .project4React {
    width: 100%;
  }
  .myProjects .project3Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project3Container .project3React {
    width: 100%;
  }
  .myProjects .project2Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project2Container .project2 {
    width: 100%;
  }
  .myProjects .project1Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project1Container .project1 {
    width: 100%;
  }
  .contactMe .contactFormContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .contactMe .contactFormContainer .contactFormText {
    width: 100%;
    text-align: center;
  }
  .contactMe .contactFormContainer .contactForm {
    width: 100%;
  }
  footer h6 {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .homePage {
    min-height: unset;
  }
  .homeImage {
    max-width: 80%;
  }
  .aboutMeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .aboutMeContainer .aboutMeText {
    text-align: center;
    width: 100%;
  }
  .aboutMeContainer .aboutMeImage {
    width: 75%;
  }
  .mySkills .skillList {
    border-left: hidden;
    border-right: hidden;
  }
  .myProjects .projectTextContainer {
    width: 100%;
  }
  .myProjects .projectBtn {
    padding: 20px;
  }
  .myProjects .project4Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project4Container .project4React {
    width: 100%;
  }
  .myProjects .project3Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project3Container .project3React {
    width: 100%;
  }
  .myProjects .project2Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project2Container .project2 {
    width: 100%;
  }
  .myProjects .project1Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myProjects .project1Container .project1 {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .homePage {
    min-height: unset;
  }
  .aboutMeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .aboutMeContainer .aboutMeText {
    text-align: center;
    width: 100%;
  }
  .aboutMeContainer .aboutMeImage {
    width: 50%;
    min-width: 200px;
  }
  .mySkills .skillList {
    width: 85%;
  }
}